{if $menu}
	{$menu->container->startTag()|noescape}

		{$menu->list->startTag()|noescape}

			{foreach $menu->items as $item}
				{$item}
			{/foreach}

		{$menu->list->endTag()|noescape}

	{$menu->container->endTag()|noescape}
{/if}