<div class="lead">{_'Advanced'}</div>

<div class="form-group">
	<label n:name="showing">{label showing/}</label>
	{input showing}
</div>
			
<div class="form-group">
	<label n:name="class">{label class/}</label>
	<input class="form-control" n:name="class">
</div>
			
<div class="form-group">
	<label n:name="icon">{label icon/}</label>
	<input class="form-control" n:name="icon">
</div>
			
<div class="form-group">
	<label n:name="only_icon">{label only_icon/}</label>
	{input only_icon}
</div>